<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/post/postadd" method="post">
      <div class="form-group">
    <label for="usertitle">Title:</label>
    <input type="text" class="form-control" id="usertitle"name="title" value="">
    </div>
    <div class="form-group">
    <label for="useremail">Author:</label>
    <input type="text" class="form-control" id="author" name="author" value="">
    </div>
    <div class="form-group">
        <label for="userpwd">Content:</label>
        <input type="text" class="form-control" id="usercontent"name="content" value="">
      </div>
          <input type="submit" name="submit" class="btn btn-primary" value="PostAdd">

  </form>
  </body>
</html>
