<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1 class="text primary text-center bg info">Post Details</h1>
    </div>
    Title:<%=post.title%><p>
    Author:<%=post.Author%><p>
    Content:<%=post.Content%><p>

  </body>
</html>
